/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.diary_buttons {
  margin: 15px;
}

a.diary {
  margin: 2px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  display: inline-block;
  font: 15px Arial;
  text-decoration: none;
  color:#17202A;
}

span.diary {
  padding-top: 5px;
  font: bold 20px Arial;
}

a.btn_edit {
  background-color: #F7DC6F
}

a.btn_add {
  background-color: #E5E7E9
}
